*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/fondo.jpg);
    background-size: cover;   
    font-family: sans-serif; 
      
}
h2{
    text-align: center;
    font-size: 3rem;
    color: white;
    background-color: cadetblue;
    width: 100%;
    margin: auto;
}
.menu{
    height: 60px;
    background-color:  cadetblue;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 90%;
}
.menu a{
    display: inline-block;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    list-style: none;  
}
.menu a{
    color:white;
    text-decoration: none;
}
#portada{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    width: 90%;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url(../img/Amen3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: darken;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5%;
}
#portada h1{
    font-size: 3rem;
    color: white;
}
#portada h3{
    font-size: 1.5rem;
    color: white;
}
#portada:hover{
    transform: scale(1.02);
}

#portada-nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    width: 90%;
    color:white;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url(../img/familia\ amen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: darken;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5%;
}
#portada-productos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    width: 90%;
    color:white;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url(../img/Producto5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: darken;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5%;
}
#portada-contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    width: 90%;
    color:white;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url(../img/fondoredes.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: darken;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5%;
}
#portada-contacto a{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: cadetblue;
    padding: 10px;
    margin: 10px;

}
#portada h1{
    font-size: 3rem;
    color: white;
}
#portada h3{
    font-size: 1.5rem;
    color: white;
}
#portada:hover{
    transform: scale(1.02);
}
.listado{
    justify-content: center;
    text-align: center;
    list-style: none;
    font-size: 1.5rem;
    background-color: white;
    opacity: 80%;
    color: cadetblue;
    width: 90%;
    margin: auto;


}
#somos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 400px;
    width: 90%;
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url(../img/familia\ amen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: darken;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5%;
    color: white;
}
#somos h2:hover{
    transform: scale(1.02);
    
}
.container img{
    width: 80%;
    height: 100%;
    
}
.container img:hover{
    transform: scale(1.05);
}

#producto{
    background-color: cadetblue;
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-direction: row;

}
#producto .card:hover{
    transform: scale(1.02);
}

#grid .container {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 10px 10px; 
    grid-template-areas: 
       "."
       "."
       "."
       "."; 
    justify-items: center; 
    margin: 20px auto;
  }

  @media only screen and (min-width:768px){
    #grid .container{
        display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 10px 10px; 
    grid-template-areas: 
       ". ."
       ". ."; 
    justify-items: center; 
    margin: 20px auto;

    }
    #somos{
        height: 600px;
        width: 50%;
    }
    .menu{
        display: flex;
        flex-wrap: nowrap;
        justify-content:space-between;
        width: 90%;
    }
  }
  .img { grid-area: img; }

  .formulario{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    width: 50%;
    height: 50%;
    margin: 20px auto;
    color: white;
 }


  footer{
    height: 60px;
    background-color:cadetblue;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;

    color: white;
    width: 90%;
    margin: auto;
  }
  .pie .bi{
    color: white;

  }








